form {
    .input-wrapper {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;

        &.no-margin {
            margin-bottom: 0;
        }

        label {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.5rem;
            width: 100%;

            span {
                font-size: 14px;
                &:last-child {
                    display: none;
                }
            }
        }

        input, textarea {
            display: block;
            width: 100%;
            padding: 12px;
            border-radius: 4px;
            border: 0;
            background-color: var(--gray-1);
            font-size: 14px;
            border: 1px solid transparent;
            transition: all .2s;

            &.input-error {
                border: 1px solid var(--red-color);
                & ~ label {
                    span:last-child {
                        color: var(--red-color);
                        display: block;
                    }
                }
            }

            &::placeholder {
                color: #CBCBCB;
            }

            &:focus {
                outline: none;
                box-shadow: var(--shadow);
            }

        }

        textarea {
            resize: none;
            height: 6rem;
        }

        .select-wrapper {
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--gray-1);
            border-radius: 4px;

            i {
                position: absolute;
                top: 50%;
                right: 12px;
                transform: translateY(-50%);
            }
            select {
                appearance: none;
                position: relative;
                border: 0;
                background-color: transparent;
                height: 100%;
                width: 100%;
                padding: 12px;
                font-size: 14px;
                border-radius: 4px;
                &:focus {
                    outline: none;
                    box-shadow: var(--shadow);
                }
            }
        }
    }
}