.nav {
    position: relative;
    top: 0;
    z-index: 100;
    overflow: initial;

    .data-contact {
        display: flex;
        justify-content: center;
        align-items: center;

        .data-contact-item {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem 2rem;
            cursor: pointer;
            border-radius: 4px;
            transition: all .2s;

            @media #{$ipad} {
                padding: 1rem;
            }

            &:hover {
                background-color: var(--gray-2);
            }

            .icon i {
                font-size: 2rem;
                margin-right: 2rem;
                color: var(--blue-color);
            }

            .description {
                * {
                    font-size: 14px;
                }
                .title {
                    font-weight: bold;
                }

                .subtitle {
                    color: var(--medium-gray);
                }
            }
        }
    }

    a.main-button.green-button {
        padding: 11px 1rem;
        span {
            font-size: 14px;
        }
        i {
            font-size: 1.25rem;
        }
        &:hover {
            transform: none;
            border-color: var(--green-color);
        }
    }

    &.nav-desktop {
        @media #{$ipad} {
            display: none;
        }
        .white-section {
            width: 100%;
            background-color: white;
        }
        .general-max-width {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .logo {
                padding: 1rem 0;
            }
        }
    
        .blue-section {
            background-color: var(--blue-color);
            width: 100%;
    
            ul {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                li {
                    list-style: none;
                    position: relative;
    
                    &:hover {
                        a {
                            background-color: white;
                            span, i {
                                color: var(--blue-color);
                            }
                        }
                        .submenu-navbar {
                            display: flex;
                        }
                    }
    
                    .submenu-navbar {
                        background-color: white;
                        border-bottom: 4px solid var(--blue-color);
                        position: absolute;
                        left: 0;
                        top: 100%;
                        // width: 910px;
                        box-shadow: 0px 3px 6px rgba(black, 0.2);
                        padding: 3rem 4rem;
                        display: none;
                        justify-content: flex-start;
                        align-items: flex-start;

                        .menu-list {
                            margin-right: 4rem;
                            &:last-child {
                                margin-right: 0;
                            }
                            a.title-menu-list {
                                white-space: nowrap;
                                font-weight: bold;
                                margin-bottom: 1rem;
                                display: block;
                                font-size: 14px;
                                color: var(--black);
                                cursor: pointer;
                            }
                            a {
                                white-space: nowrap;
                                color: var(--medium-gray);
                                padding: 0;
                                display: block;
                                margin-bottom: 1rem;
                                font-size: 14px;
                                &:hover {
                                    text-decoration: underline;
                                }
                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
    
                    a {
                        color: white;
                        text-decoration: none;
                        padding: 1.5rem;
                        display: block;
                        transition: all .2s;
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                        span {
                            color: white;
                            display: block;
                            position: relative;
                            font-weight: bold;
    
                            &:after {
                                bottom: -24px;
                                height: 4px;
                                width: 100%;
                                position: absolute;
                                left: 0;
                                background-color: transparent;
                                content: '';
    
                            }
                        }
    
                        i {
                            font-size: 12px;
                            color: white;
                            margin-left: 0.5rem;
                        }
    
                        &.active {
                            span {
                                &:after {
                                    background-color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.nav-mobile {
        display: none;
        box-shadow: 0px 3px 8px rgba(black, 0.08);
        overflow: initial;
        @media #{$ipad} {
            display: block;
        }

        .white-section {
            background-color: white;
            position: relative;
            z-index: 1;

            .top-section {
                border-bottom: 1px solid var(--gray-2);
                @media #{$ipad} {
                    padding: 0.5rem 0;
                }
                .general-max-width {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                }
            }

            .bottom-section {
                padding: 12px 0;
                .general-max-width {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                }

                .bars {
                    margin-right: auto;
                    i {
                        font-size: 2rem;
                    }
                }

                .main-button {
                    padding: 0 1rem;
                    height: 44px;
                }

                .phone {
                    margin-left: 1rem;
                    width: 44px;
                    height: 44px;
                    border-radius: 4px;
                    background-color: var(--blue-color);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i {
                        color: white;
                        font-size: 1.5rem;
                    }
                }
            }
        }

        .blue-section {
            width: 100%;
            background-color: var(--blue-color);
            position: absolute;
            z-index: 0;
            transition: all .2s;
            margin-top: -275px;
            padding: 1.5rem 0;

            ul {
                li {
                    a {
                        width: 100%;
                        padding: 12px 1.5rem;
                        color: white;
                        text-decoration: none;
                        font-weight: bold;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        
                        i {
                            color: white;
                            margin-left: auto;
                        }
                    }
                }
            }

            &.opened {
                margin-top: 0;
            }
        }
    }

    .slider-item {
        height: auto;
    }
}

.page-menu {
    position: fixed;
    top: 0;
    left: 100%;
    transition: all .2s;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    background-color: white;
    z-index: 101;

    &.opened {
        left: 0;
    }

    .header {
        padding: 1rem;
        background-color: var(--blue-color);
        color: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: sticky;
        top: 0;
        left: 0;
        a, i {
            color: white;
            font-size: 1.5rem;
        }

        a {
            font-weight: bold;
            margin-left: 1rem;
        }
    }

    .links {
        padding: 1rem;

        .links-item {

            .title {
                border-bottom: 1px solid var(--gray-2);
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem;
                span {
                    font-weight: bold;
                }
            }

            .links-list {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                border-bottom: 1px solid var(--gray-2);
                padding: 1rem;
                display: none;
                a {
                    text-decoration: none;
                    color: var(--light-black);
                    margin-bottom: 1rem;
                    font-size: 14px;
                    display: block;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

}