.nav {
    position: relative;
    top: 0;
    z-index: 100;

    .data-contact {
        display: flex;
        justify-content: center;
        align-items: center;

        .data-contact-item {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem 2rem;
            cursor: pointer;
            border-radius: 4px;
            transition: all .2s;

            &:hover {
                background-color: var(--gray-2);
            }

            .icon i {
                font-size: 2rem;
                margin-right: 2rem;
                color: var(--blue-color);
            }

            .description {
                * {
                    font-size: 14px;
                }
                .title {
                    font-weight: bold;
                }

                .subtitle {
                    color: var(--medium-gray);
                }
            }
        }
    }

    button.main-button.green-button {
        span {
            font-size: 14px;
        }
        i {
            font-size: 1.25rem;
        }
        &:hover {
            transform: none;
            border-color: var(--green-color);
        }
    }

    &.nav-desktop {
        @media #{$ipad} {
            display: none;
        }
        .white-section {
            width: 100%;
            background-color: white;
        }
        .general-max-width {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .logo {
                padding: 1rem 0;
            }
        }
    
        .blue-section {
            background-color: var(--blue-color);
            width: 100%;
    
            ul {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                li {
                    list-style: none;
                    position: relative;
    
                    &:hover {
                        a {
                            background-color: white;
                            span, i {
                                color: var(--blue-color);
                            }
                        }
                        .submenu-navbar {
                            display: block;
                        }
                    }
    
                    .submenu-navbar {
                        background-color: white;
                        border-bottom: 4px solid var(--blue-color);
                        position: absolute;
                        left: 0;
                        top: 100%;
                        width: 910px;
                        box-shadow: 0px 3px 6px rgba(black, 0.2);
                        padding: 3rem 2rem;
                        display: none;
                    }
    
                    a {
                        color: white;
                        text-decoration: none;
                        padding: 1.5rem;
                        display: block;
                        transition: all .2s;
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                        span {
                            color: white;
                            display: block;
                            position: relative;
                            font-weight: bold;
    
                            &:after {
                                bottom: -24px;
                                height: 4px;
                                width: 100%;
                                position: absolute;
                                left: 0;
                                background-color: transparent;
                                content: '';
    
                            }
                        }
    
                        i {
                            font-size: 12px;
                            color: white;
                            margin-left: 0.5rem;
                        }
    
                        &.active {
                            span {
                                &:after {
                                    background-color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.nav-mobile {
        display: none;
        @media #{$ipad} {
            display: block;
        }

        .white-section {
            background-color: white;
            position: relative;
            z-index: 1;

            .top-section {
                border-bottom: 1px solid var(--gray-2);
                .general-max-width {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                }
            }

            .bottom-section {
                padding: 12px 0;
                .general-max-width {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                }

                .bars {
                    margin-right: auto;
                    i {
                        font-size: 2rem;
                    }
                }

                .phone {
                    margin-left: 1rem;
                    width: 44px;
                    height: 44px;
                    border-radius: 4px;
                    background-color: var(--blue-color);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i {
                        color: white;
                        font-size: 1.5rem;
                    }
                }
            }
        }

        .blue-section {
            width: 100%;
            height: 200px;
            background-color: var(--blue-color);
            position: absolute;
            z-index: 0;
            transition: all .2s;
            margin-top: -202px;

            &.opened {
                margin-top: 0;
            }
        }
    }
}