.shop {
    .title-shop {
        h1 {
            font-size: 2rem;
            color: var(--blue-color);
        }

        .route {
            margin-top: 1rem;
            margin-bottom: 3rem;

            span {
                &:last-child {
                    color: var(--blue-color);
                }
            }
            i {
                margin: 0 1rem;
            }
        }
    }
}
.refacciones-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;

    @media #{$ipad} {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1rem;
        grid-row-gap: 3rem;    
    }

    .refaccion {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
            background-color: var(--gray-2);
            border-radius: 8px;
        }

        h2 {
            font-size: 18px;
            display: block;
            text-transform: lowercase;
            margin: 1rem 0;
            &::first-letter {
                text-transform: uppercase;
            }
            @media #{$ipad} {
                font-size: 1rem;
            }
        }

        a {
            @media #{$ipad} {
                min-width: unset;
                width: 100%;
                padding: 0.5rem 0;
                span {
                    font-size: 14px;
                }
            }
        }
    }
}