.slider-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/** ESTILO PARA LOS FRAMES **/
.slider-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
    max-height: 600px;
    background-size: cover;
    background-position: center;

    @media #{$ipad} {
        overflow-x: hidden;
        max-height: unset;
        height: calc(100vh - 133px);
    }

    .general-max-width {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media #{$ipad} {
            flex-direction: column;
            height: 100%;
            padding: 2rem 0;
            justify-content: center;
        }
    }

    .slider-section {
        width: 40%;

        @media #{$ipad} {
            width: 100%;
        }
        &:last-child {
            width: 60%;
            @media #{$ipad} {
                width: 100%;
            }
        }
        
        img {
            width: 100%;
            height: auto;
            @media #{$ipad} {
                display: none;
            }
        }

        .img-movil {
            display: none;
            @media #{$ipad} {
                display: block;
                width: auto;
                height: 120px;
                margin: auto;
                margin-bottom: 1rem;
            }
        }

        a {
            min-width: unset;
            width: 50%;
            margin-right: 1rem;
            &:last-child {
                margin-right: 0;
            }
        }
    }

}

.column {
    .slider-item {
        @media screen and (max-width: 768px) {
            flex-direction: column;
            .item-inside {
                margin-bottom: 1rem;
                width: 100%;
                &:last-child {
                    margin-bottom: 0;
                }
            }

        }
    }
}


/** Estilos para frames individuales **/
.s1 {
    background-image: url('/assets/images/home/hero-unidades-y-equipos.jpg');
    @media #{$ipad} {
        background-image: url('/assets/images/home/slider-equipos.jpg');
    }
}

.s2 {
    background-image: url('/assets/images/home/hero-refacciones-bg.jpg');
    .slider-section img {
        width: 78%;
        height: auto;
        margin-left: auto;
    }

    @media #{$ipad} {
        background-image: url('/assets/images/home/slider-refacciones.jpg');
    }
}

.s3 {
    background-image: url('/assets/images/home/hero-servicio-tecnico-bg.jpg');
    @media #{$ipad} {
        background-image: url('/assets/images/home/slider-servicio-tecnico.jpg');
    }
}

.points {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    @media #{$ipad} {
        bottom: 8px;
    }
}

.points-item {
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    margin-right: 1rem;
    cursor: pointer;
    transition: all .2s;

    &:last-child {
        margin-right: 0;
    }

    @media #{$ipad} {
        width: 8px;
        height: 8px;
        margin-right: 8px;
    }

    &:hover {
        background-color: var(--blue-color);
    }

    &.active {
        background-color: var(--green-color);
    }
}

.slider-item-animation {
    transition: all .2s;
    // transform: translateX(500px);
}

.slider-item-animation-end {
    transform: translateX(0px);
}


#sliderClientes {
    .slider-item {
        height: auto;
        max-height: unset;
        padding: 4rem 0;
        @media #{$ipad} {
            padding: 2rem 0;
        }
        .general-max-width {
            padding: 0;
            img {
                height: auto;

            }
        }
    }
}

#pointsClientes {
    .points-item {
        background-color: var(--gray-2);
        &.active {
            background-color: var(--blue-color);
        }
    }
}